# Python
__pycache__/

# VSCode
.vscode/

# ide di Giuse
.#*
*~

# LAB5: file json generati / aggiornati a runtime
Software/Catalog/catalog.json
Software/SensorReadingActuatorControlWebServer/actuators_state.json
network_config.json
